<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Git Commits <small>Density Graph</small></h1>
    </div>
    <div ng-controller="tangoSourceChallengeCtrl">
      <form ng-submit="analyzeRepo()" class="input-append">
        <input class="span6" id="appendedInputButton" type="text" placeholder="Type the account and repository name here 'account/repository'" ng-model="newRepo.account_repo">
        <input type="submit" value="Analizar" class="btn">
      </form>
    </div>
    <hr>
    <h4>Repos registrados</h4>
    <ul>
      <li ng-repeat="repo in repos">
        {{repo.account}}/{{repo.repo_name}}
      </li>
    </ul>
  </div>
</div>