<div class="row">
  <div class="span12">
    <div class="page-header">
      <h2>Github Repo Commits <small>Density Graph</small></h2>
    </div>
    <div ng-controller="tangoSourceChallengeCtrl">
      <form ng-submit="process_request()" class="form-search">
        <input class="span6" id="appendedInputButton" type="text" placeholder="Type the account and repository name here 'account/repository'" ng-model="newQuery.query">
        <input type="submit" value="Analizar" class="btn btn btn-info">
      </form>
    </div>
  </div>
</div>