// repo form
// ---------------------------------- 
input.errorInput{
  background-color: rgba(255, 0, 2, 0.030);
}

// repo status
// ---------------------------------- 
span#repoName{
  line-height: 16px;
  font-size: 12px;
  font-weight: 600;
}

// repo available days select
// ---------------------------------- 
div#daysSelect{
  & span#pickDateSelectLabel{
    position: relative;
    font-size: 14px;
    font-weight: 600;
    top: -5px;
  }  
}

// commits desnsity graph
// ---------------------------------- 
span#graphTitle{
  position: relative;
  left: 40px;
}

// commits table
// ---------------------------------- 
.commitAuthorName{
  font-size: 14px;
  font-weight: 600;
  & a{
    color: #2c3538;
  }
}
// blank state message
// ---------------------------------- 
#blankStateArrow{
  position: relative;
  top:-15px;
}

// footer
// ---------------------------------- 
footer{
  font-size: 13px;
  color: #7f7f7f;
}
