// repo status
// ---------------------------------- 
span#repoName{
  line-height: 16px;
  font-size: 12px;
  font-weight: 600;
}

// repo available days select
// ---------------------------------- 
div#daysSelect{
  & span#pickDateSelectLabel{
    position: relative;
    font-size: 14px;
    font-weight: 600;
    top: -5px;
  }  
}

// commits desnsity graph
// ---------------------------------- 
span#graphTitle{
  position: relative;
  left: 40px;
}

// commits table
// ---------------------------------- 
span.commitMessage{
  line-height: 15px;
  font-size: 12px;
  font-weight: 600;
}

span.commitAuthor{
  font-size: 12px;
  font-weight: 400;
}

// blank state message
// ---------------------------------- 
#blankStateArrow{
  position: relative;
  top:-15px;
}

// footer
// ---------------------------------- 
footer{
  font-size: 13px;
  color: #7f7f7f;
}
